<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <publishUrl>F:\web\published</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <!-- Dev/unused folders — not needed on IIS -->
    <ExcludeFoldersFromDeployment>node_modules;build;HomeCss;new_assets;App_Data;.git;.vs;obj</ExcludeFoldersFromDeployment>
  </PropertyGroup>
  <ItemGroup>
    <ExcludeFromPackageFolders Include="node_modules">
      <FromTarget>Project</FromTarget>
    </ExcludeFromPackageFolders>
    <ExcludeFromPackageFolders Include="build">
      <FromTarget>Project</FromTarget>
    </ExcludeFromPackageFolders>
    <ExcludeFromPackageFolders Include="HomeCss">
      <FromTarget>Project</FromTarget>
    </ExcludeFromPackageFolders>
    <ExcludeFromPackageFolders Include="new_assets">
      <FromTarget>Project</FromTarget>
    </ExcludeFromPackageFolders>
    <ExcludeFromPackageFolders Include="App_Data">
      <FromTarget>Project</FromTarget>
    </ExcludeFromPackageFolders>
    <ExcludeFromPackageFolders Include=".git">
      <FromTarget>Project</FromTarget>
    </ExcludeFromPackageFolders>
  </ItemGroup>
</Project>
